body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
navigation bar
------------------ */
.nav-color{
    color: #2c4964;
}
.navbar-brand{
    font-size: 30px;
    color: #2c4964 !important;
}
.navbar-background{
    background-color: #ffffff;
}
.appoinment-btn{
    background-color: #1977cc;

}
.active{
    color: #1977cc;
    border-color: #1977cc;
}


/*--------------------------
 top banner section
-------------------------- */

#top-banner{
    background: url(../images/hero-bg.jpg) top center;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
    width: 100%;
    height: 90vh;
}
.banner-info h1{
    font-size: 48px;
    font-weight: 700;
}
.banner-info p{
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}


.btn-get-started{
    color: white;
    background: #1977cc;
}
.btn-get-started:hover{
    color: white;
    background: #3291e6;
}

/*--------------------------
   why us section
-------------------------- */

.content{
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
}
.btn-why-us{
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out  0.4s;
    
}
.btn-why-us:hover{
    color: #1977cc;
    background: #fff;
}
.icon-box{
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    width: 100%;
}
.icon-box i{
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}
.icon-box h4{
    margin-bottom: 30px;
}
.icon-box p{
    font-size: 15px;
    color: #848484;
}
/*--------------------------
    about section
-------------------------- */


.about-title{
    font-size: 30px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}
.about-info p{
    color: rgb(102, 85, 85);
    font-weight: lighter;
}
.about-icon i{
    font-size: 32px;
    color: #1977cc;
    border: 1px solid #1977cc;
    padding: 14px;
    border-radius: 50px;
    transition: 0.4s;
}
.about-boxes:hover i{
    background-color: #1977cc;
    color: white ;
}
/*--------------------------
    counter section
-------------------------- */
.counts{
    background-color: #f1f7fd;
}
.counter-box{
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}
.counter-box i{
    position: absolute;
    top: -20px;
    left: 50%;
   background-color: #1977cc;
   color: white;
   padding: 13px;
   border-radius: 50%;
   transform: translate(-50%);
   
}


/*--------------------------
    services section
-------------------------- */
.section-title h1{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.section-title h1::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    background-color: #1977cc;
    bottom: 0;
    display: block;
    left: calc( 50% - 20px);
}
.section-title h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #ddd;
    left: calc(50% - 60px);
    bottom: 1px;  
}
.service-box{
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    position: relative;
    border-radius: 5px;
}
.service-box:hover{
    background: #1977cc;
    color: white;
}
.service-box:hover .service-icon{
    background: white;
}
.service-box:hover .service-icon i{
    color: #1977cc;
}
.service-icon{
    background: #1977cc;
    height: 64px;
    width: 64px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all .3s ease-out 0s;
    transform-style: preserve-3d;
}
.service-icon::before{
    position: absolute;
    content: '';
    top: -8px;
    left: -8px;
    border-radius: 5px;
    width: 70px;
    height: 65px;
    background: #badaf7;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px);
}
.service-icon i{
    font-size: 28px;
    color: white;

}


/*--------------------------
    appointment section
-------------------------- */

.form-control:focus{
    border-color: #1977cc;
    box-shadow: none;
    border-radius: 0;
}
.border-radius-change{
    border-radius: 0;
}
.btn-appointment{
    background: #1977cc;
    color: white;
}
.btn-appointment:hover{
    color: white;
    background: #1c84e3;
}


/* --------------------
departments
---------------------- */
.departments .nav-tabs{
    border-bottom: 0;
}
.departments .nav-link{
   border: 0;
   padding: 12px 15px 12px 0;
   transition: 0.4s;
   color: #2c4964;
   border-radius: 0;
   border-right: 2px solid #ebf1f6;
   font-size: 15px;
   font-weight: 600;
}
.departments .nav-link.active{
    color: #1977cc;
    border-color: #1977cc;
}
.departments .nav-link:hover{
    color: #1977cc;
}
.departments h3{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
}
.departments p{
    color: #777777;
}

/* --------------------
departments
---------------------- */
.member{
    /* position: relative; */
    box-shadow: 0px 2px 15px rgb(44 73 100 / 8%);
    padding: 30px;
    border-radius: 10px;
}
.member-img{
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}
.member-img img{
    transition: ease-in-out 0.3s;
}
.member:hover img{
    transform: scale(1.1);
}
.member-info h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
}
.member-info span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: lighter;
}
.member-info span::before{
    position: absolute;
    content: '';
    background: #b2c8dd;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 0;
}
.member-info p{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.member-social-icon a{
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
    text-decoration: none;
    margin-right: 6px;
}
.member-social-icon a:hover{
    background: #1977cc;
}
.member-social-icon a i{
    color: white;
}
/* --------------------
      FAQ
---------------------- */
.faq{
    background: #f1f7fd;
}
.accordion-item{
    border: 0;
    margin-bottom: 15px;
    border-radius: 7px;
}
.accordion-item a{
    color: #343a40;
    display: inline-block;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}
.accordion-header:hover a{
    color: #1977cc;
}
.accordion-item i{
    color: #76b5ee;
    font-size: 20px;
}
.accordion-button:not(.collapsed){
    background: white;
}
.accordion-button:focus {
    box-shadow: none;
}
/*--------------------------
    testimoniul section
-------------------------- */
.testimonial-box{
    /* box-sizing: content-box; */
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgb(44 73 100 / 8%);
    position: relative;
    background: #fff;
}
.testimonial-box h3{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
.testimonial-box h4{
    font-size: 14px;
    color: #999;
    margin: 0;
}
.testimonial-box p{
    font-style: italic;
    margin: 15px auto 15px auto;
}
.testimonial-box img{
    width: 90px;
    border-radius: 10px;
    position: absolute;
    left: -45px;
}

sup,sub{
    color: #badaf7;
    font-size: 26px;
}
/* --------------------
      gallery section
---------------------- */
.gallery-img img{
    transition: 0.5s;
    overflow: hidden;
}
.gallery-img img:hover{
    transform: scale(1.1);
}

.contact-info i{
    font-size: 20px;
    color: #1977cc;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    float: left;
    margin-right: 18px;
}
.address:hover i{
    background: #1977cc;
    color: #fff;
}
.email:hover i{
    background: #1977cc;
    color: #fff;
}
.phone:hover i{
    background: #1977cc;
    color: #fff;
}




/* --------------------
      media query
---------------------- */

@media (max-width: 992px) {
    .departments .nav-link.active{
        color: white;
        border-color: white;
        background-color: #1977cc;
    }
    .departments .nav-link{
        text-align: center;
        border-right: 0;
    } 
}