body{
    font-family: 'Poppins', sans-serif;
}
/* ---------------
navigation bar
------------------ */
.nav-color{
    color: #2c4964;
}
.navbar-brand{
    font-size: 30px;
    color: #2c4964 !important;
}
.navbar-background{
    background-color: #ffffff;
}
.appoinment-btn{
    background-color: #1977cc;

}
.active{
    color: #1977cc;
    border-color: #1977cc;
}


/*--------------------------
 top banner section
-------------------------- */

#top-banner{
    background: url(../images/hero-bg.jpg) top center;
    background-size: cover;
    background-repeat: no-repeat;
   background-attachment: fixed;
    width: 100%;
    height: 90vh;
}
.banner-info h1{
    font-size: 48px;
    font-weight: 700;
}
.banner-info p{
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}


.btn-get-started{
    color: white;
    background: #1977cc;
}
.btn-get-started:hover{
    color: white;
    background: #3291e6;
}

/*--------------------------
   why us section
-------------------------- */

.content{
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
}
.btn-why-us{
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out  0.4s;
    
}
.btn-why-us:hover{
    color: #1977cc;
    background: #fff;
}
.icon-box{
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    padding: 40px 30px;
    width: 100%;
}
.icon-box i{
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}
.icon-box h4{
    margin-bottom: 30px;
}
.icon-box p{
    font-size: 15px;
    color: #848484;
}
/*--------------------------
    about section
-------------------------- */


.about-title{
    font-size: 30px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}
.about-info p{
    color: rgb(102, 85, 85);
    font-weight: lighter;
}
.about-icon i{
    font-size: 32px;
    color: #1977cc;
    border: 1px solid #1977cc;
    padding: 14px;
    border-radius: 50px;
    transition: 0.4s;
}
.about-boxes:hover i{
    background-color: #1977cc;
    color: white ;
}
/*--------------------------
    counter section
-------------------------- */
.counts{
    background-color: #f1f7fd;
}
.counter-box{
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}
.counter-box i{
    position: absolute;
    top: -20px;
    left: 50%;
   background-color: #1977cc;
   color: white;
   padding: 13px;
   border-radius: 50%;
   transform: translate(-50%);
   
}





/* ----------------
media query
--------------- */
/* @media (min-width: 992px) {
    .top-banner{
        position: relative;
       
    }
    .why-us-position{
        position: absolute;
        top: 500px;
        left: 100px;
        right: 100px;
    }
} */
